$page-font: "Pacifico", cursive;
$header-fontweight: 700;
$article-fontweight: 300;
$primary-color: #fff205;
$secondary-color: black;
$hover-effect: #ffdf00;
$header-font-size: 1.5rem;
$article-font-size: 1.1rem;
$border-radius: 0.7rem;
